<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tweets</h4>
            </div>
            <div class="modal-body">
                <p>Showing the Launches</p>
                <iframe src="https://calendar.google.com/calendar/embed?src=8ca8bl7gk62g1hlg9qffttnrj4%40group.calendar.google.com&ctz=America%2FSao_Paulo"
                        style="border: 0" width="800" height="600" frameborder="0" scrolling="no" ></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
