
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>SERVIÇOS</h2>
    <h4>A Pastus Consultoria oferece os seguintes serviços de irrigação</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tasks logo-small"></span>
            <h4>PLANEJAMENTO</h4>
            <p>Elaboração dos projetos hidráulicos e manejo da irrigação.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-thumbs-up   logo-small"></span>
            <h4>CONSULTORIA</h4>
            <p>Indicação de conjunto moto bomba e tubulação principal.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>COMÉRCIO E IMPORTAÇÕES</h4>
            <p>Importação de equipamentos K-Line da Nova Zelândia.</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4>INSTALAÇÃO</h4>
            <p>Instalação do projeto a campo.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>ENTREGA</h4>
            <p>Entrega técnica e treinamento de equipe</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-link logo-small"></span>
            <h4 style="color:#303030;">Pós-Venda</h4>
            <p>Solicitação de licença ambiental para irrigação e projetos bancários (empresas parceiras)</p>
        </div>
    </div>
</div>