<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <!--<h2>SISTEMA MÓVEL DE IRRIGAÇÃO POR ASPERSÃO</h2>-->
            <h2>Sobre a Pastus</h2><br>
            <h4>Quem Somos</h4><br>
            <p class="long-text">No mercado de consultoria desde 2015 com ênfase no planejamento forrageiro e
                implantação
                e manejo de tifton-85, a Engenheira Agrônoma e Mestra em Forragicultura Ana Paula Binato
                hoje também atua no mercado de irrigação.
                Em janeiro de 2017 iniciou contato com agentes comerciais da Nova Zelândia e conquistou a
                representação exclusiva no Brasil do <strong>EQUIPAMENTO DE IRRIGAÇÃO MÓVEL K-LINE</strong>. Frente a
                <strong>PASTUS CONSULTORIA</strong>, junto com seus colaboradores presta os seguintes serviços na área
                de
                irrigação: elaboração dos projetos hidráulico e manejo da irrigação, importação do
                equipamento <strong>K-LINE</strong> da Nova Zelândia, instalação do projeto a campo, treinamento da
                equipe
                e pós-venda.
                Possui parcerias com empresas idôneas a fim de obtenção de licença ambiental para
                irrigação, projetos bancários e fornecimento de material hidráulico.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <a href="https://www.rxplastics.co.nz">
                <span class="glyphicon glyphicon-globe logo slideanim"></span>
            </a>
        </div>
        <div class="col-sm-8">
            <h2>O SISTEMA K-LINE</h2><br>
            <p>O sistema foi criado por produtor de leite da Nova Zelândia e a
                tecnologia foi desenvolvida e patenteada por fábrica que exporta o produto há 30 anos para muitos países
                do mundo.</p>
            <h4><strong>O SISTEMA INOVADOR</strong> é constituído pela condução da água por mangueiras de polietileno
                resistentes que ficam acima do solo. Os aspersores são conectados a mangueiras e protegidos
                lateralmente por um protetor de polietileno.
            </h4><br>
            <p><strong>A PRATICIDADE</strong> na movimentação do sistema de mangueiras e a <strong>DURABILIDADE</strong>
                e
                <strong>RESISTÊNCIA</strong> do material são os diferenciais técnicos deste equipamento.
                <strong>RESISTE</strong> ao <strong>PISOTEIO</strong> e <strong>TRAÇÃO</strong> e possui <strong>PROTEÇÃO
                    CONTRA RAIOS UV</strong>.
                Há modelos para irrigação de <strong>PASTO, CULTURAS ANUAIS e DISTRIBUIÇÃO de EFLUENTES</strong>.

            </p>
        </div>
    </div>
</div>